<div class="row col-md-12">
  <p>
    example Ruby on Rails application that uses a ruby gem (code-plugin/code-library) to make http calls to the <a target="_blank" href="<%= LAA::FeeCalculator.config.host %>/docs"> fee calculator API</a> transparently.
    <br/>
    This provides:
    <br/>
    <ul>
      <li>extraction/hiding of complexity</li>
      <li>reusability</li>
      <li>template/example for other languages</li>
    </ul>
  </p>
  <br/>
</div>
