<%= form_tag({controller: "calculator", action: "fee_scheme_changed"}, method: 'get', remote: true, role: "form", id: "fee_schemes_form") do %>
  <div class="form-group">
      <%= label_tag 'fee_scheme' %>
      <%= select_tag(:fee_scheme, options_for_select(@fee_schemes, @fee_scheme.id), class: 'form-control') %>
  </div>
<% end %>